<o-form attr="Album" mode="tab" title="{{ 'ALBUM' | oTranslate }}" class="fill-form">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="AlbumTable" 
            service="Album" 
            entity="Album" 
            title="{{ 'ALBUM' | oTranslate }}"
            keys="AlbumId"
            columns="AlbumId;ArtistId;Title" 
            header-actions="R;D"
            visible-columns="AlbumId;ArtistId;Title"  
            sort-columns="AlbumId" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="no"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column attr="AlbumId" label=" Album Id*" type="integer" editable="yes" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="ArtistId" title="Artist">
    <o-table-cell-renderer-service attr="ArtistId" 
        service="Artist" entity="ArtistType" columns="ArtistId;Name"
        parent-keys="ArtistId:AlbumId"
        value-column="Name" keys="ArtistId"
        visible-columns="Name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="Title" label="Title" editable="yes" required="yes" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form>