<o-breadcrumb [form]="InvoiceForm" label-columns="" separator=" "></o-breadcrumb>
<o-form #InvoiceForm attr="Invoice_form_insert" service="Invoice" entity="Invoice" 
keys="InvoiceId" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-integer-input attr="InvoiceId" label=" Invoice Id*" type="integer" editable="yes" required="no" ></o-integer-input>
      
        <o-list-picker 
        attr="CustomerId"
        service="Customer" 
        entity="CustomerType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="CustomerId" 
        value-column-type="INTEGER"  
        keys="CustomerId" 
        columns="CustomerId;CustomerId;FirstName" 
        title="Customer"
        visible-columns="CustomerId;FirstName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-date-input attr="InvoiceDate" type="timestamp" label="InvoiceDate" editable="yes" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input attr="BillingAddress" label="BillingAddress" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input attr="BillingCity" label="BillingCity" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input attr="BillingState" label="BillingState" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input attr="BillingCountry" label="BillingCountry" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input attr="BillingPostalCode" label="BillingPostalCode" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-currency-input attr="Total" title="Total" type="currency" editable="yes" required="yes" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>