<o-form attr="Employee" mode="tab" title="{{ 'EMPLOYEE' | oTranslate }}" class="fill-form">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="EmployeeTable" 
            service="Employee" 
            entity="Employee" 
            title="{{ 'EMPLOYEE' | oTranslate }}"
            keys="EmployeeId"
            columns="LastName;ReportsTo;FirstName;Title;BirthDate;HireDate;Address;City;State;Country;PostalCode;Phone;Fax;Email;EmployeeId" 
            header-actions="R;D"
            visible-columns="LastName;ReportsTo;FirstName;Title;BirthDate;HireDate;Address;City;State;Country;PostalCode;Phone;Fax;Email;EmployeeId"  
            sort-columns="LastName" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column attr="LastName" label=" Last Name*" editable="yes" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="ReportsTo" title="ReportsTo">
    <o-table-cell-renderer-service attr="ReportsTo" 
        service="Employee" entity="EmployeeType" columns="EmployeeId;LastName"
        parent-keys="EmployeeId:ReportsTo"
        value-column="LastName" keys="ReportsTo"
        visible-columns="LastName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="FirstName" label="FirstName" editable="yes" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="Title" label="Title" editable="yes" required="no" content-align="left"></o-table-column>
            
            <o-date-input attr="BirthDate" type="timestamp" label="BirthDate" editable="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-date-input attr="HireDate" type="timestamp" label="HireDate" editable="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column attr="Address" label="Address" editable="yes" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="City" label="City" editable="yes" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="State" label="State" editable="yes" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="Country" label="Country" editable="yes" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="PostalCode" label="PostalCode" editable="yes" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="Phone" label="Phone" editable="yes" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="Fax" label="Fax" editable="yes" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="Email" label="Email" editable="yes" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="EmployeeId" label="EmployeeId" type="integer" editable="yes" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form>