<o-breadcrumb [form]="GenreForm" label-columns="" separator=" "></o-breadcrumb>
<o-form #GenreForm attr="Genre_form_insert" service="Genre" entity="Genre" 
keys="GenreId" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-text-input attr="Name" label=" Name*" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input attr="GenreId" label="GenreId" type="integer" editable="yes" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>